<div class = "container-fluid"*ngIf="T">
    <h2>Registration Form</h2>
 
    <form [formGroup] = "MarvellousForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name </label>
      <!--Use class binding for validation-->
      <input [class.is-invalid] = "MarvellousForm.get('name').invalid && MarvellousForm.get('name').touched" type="text" class="form-control" formControlName="name">
      <small [class.d-none]="MarvellousForm.get('name').valid || MarvellousForm.get('name').untouched" class="text-danger">Name is required...</small>
    </div>
    

    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
    <div class="form-group">
      <label>Mobile</label>
      <input [class.is-invalid] = "MarvellousForm.get('mobile').invalid && MarvellousForm.get('mobile').touched" type="mobile" class="form-control" formControlName="mobile">
      <small [class.d-none]="MarvellousForm.get('mobile').valid || MarvellousForm.get('mobile').untouched" class="text-danger">Contact No. is required...</small>
    </div>
    
  
   <div class = "form-group">
        <label>Class</label>
        <input type="text" class = "form-control" formControlName="class">
      </div>
  
      <div class = "form-group">
        <div class="alert alert-info" *ngIf="showSuccessMessage">
          You are Registered Successfully.....
      </div>
      </div>
   
  
      <div class="form-group">
        <input type="submit" [disabled]="MarvellousForm.invalid" class="btn btn-primary" value="Submit">
    </div>
   
  </form>
  

  </div>
  <app-events *ngIf='W'></app-events>